language: python
python:
  - "2.7"
  - "2.8"
  - "2.9"
  - "3.0"
  - "3.1"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
script: python test_ising2d.py
branches:
  only:
    - master
notifications:
  email: false
os:
  - linux
  - osx
